<div class="message-container">
  <div class="u-and-d">
    <p><%= message.user%></p>
    <p><%= message.added%></p>
  </div>
  <p><%= message.text%></p>
  <a href="/message/<%= message.id %>">Open Message</a>
</div>
